@mixin cross($size: 2rem, $thickness: 2px, $color: #000) {
  width: $size;
  height: $size;
  opacity: 0.3;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
    opacity: 1;
  }
  &:before,
  &:after {
    position: absolute;
    left: 50%;
    content: ' ';
    height: $size;
    width: $thickness;
    background-color: $color;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
