//
// Global styling
//
html,
body {
  min-width: 320px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  height: 100%;
}

html {
  font-size: var(--base-font-size);
  font-size: 62.5%;

  @media only screen and (max-width: 1880px) {
    font-size: 61%;
  }
  @media only screen and (max-width: 1760px) {
    font-size: 57.5%;
  }
  @media only screen and (max-width: 1660px) {
    font-size: 54%;
  }

  // 1440 x 1366

  @media only screen and (max-width: 1560px) {
    font-size: 52.5%;
  }

  // 1281
  @media only screen and (max-width: 1360px) {
    font-size: 44%;
  }

  // 1024

  @media only screen and (max-width: 1280px) {
    font-size: 41.5%;
  }
  @media only screen and (max-width: 1024px) {
    font-size: 35%;
  }
  @media only screen and (max-width: 768px) {
    font-size: 62.5%;
  }
  @media only screen and (max-width: 640px) {
    font-size: 52%;
  }
  @media only screen and (max-width: 600px) {
    font-size: 48%;
  }
  @media only screen and (max-width: 550px) {
    font-size: 43%;
  }
  @media only screen and (max-width: 500px) {
    font-size: 39.5%;
  }
  @media only screen and (max-width: 480px) {
    font-size: 37%;
  }
  @media only screen and (max-width: 415px) {
    font-size: 32.5%;
  }
  @media only screen and (max-width: 375px) {
    font-size: 30%;
  }
  @media only screen and (max-width: 350px) {
    font-size: 28.5%;
  }
  @media only screen and (max-width: 320px) {
    font-size: 26%;
  }
}

body {
  position: relative;
  font-family: theme('fontFamily.m-sbd');
  text-rendering: optimizeLegibility;
  background-color: theme('colors.white');
  color: theme('colors.primary-text');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: theme('colors.primary-text');
}
