//
// This file contains all @font-face declarations.
/// @require {function} font-url - Font asset helper
//

$fonts: "Gotham-Black",
"Gotham-BlackItalic",
"Gotham-Bold",
"Gotham-BoldItalic",
"Gotham-Light",
"Gotham-LightItalic",
"Gotham-Medium",
"Gotham-MediumItalic",
"Gotham-Thin"
"Gotham-ThinItalic",
"Gotham-Ultra",
"Gotham-UltraItalic",
"Gotham-XLight",
"Gotham-XLightItalic",
"Gotham-Book",
"Gotham-BookItalic",
"fontello";




@each $font in $fonts {
  @if($font !='') {
    @font-face {
      font-family: $font;
      src: font-url('#{$font}.eot'); /* IE9 Compat Modes */
      src: font-url('#{$font}.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
      font-url('#{$font}.otf') format("opentype"), /* Open Type Font */
      font-url('#{$font}.svg##{$font}') format('svg'),
      font-url('#{$font}.ttf') format('truetype'),
      font-url('#{$font}.woff2') format('woff2'),
      font-url('#{$font}.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  }
}

/* font converted using font-converter.net. thank you! */
