/*! purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  fill: currentColor;
  circle {
    fill: none;
  }
}

*:focus {
  outline: none !important;
}

.bg-current {
  background-color: currentColor;
}
/*! purgecss end ignore */
