/*! purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  width: 100%;
  border: 1px solid #ebedf2;
  padding: 0.5rem 1rem;
  transition: 0.15s;
}

input:focus {
  border-color: #716aca;
  transition: 0.15s;
}
/*! purgecss end ignore */
